


.bg-light{
    background-image: linear-gradient(to left,rgb(133, 33, 16) 0%,rgb(255, 0, 0) 100%);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color: white;
    padding: 0px;
    
   

}

.optionbar{
    border:solid 3px rgb(174, 96, 96);
    border-radius: 10px;
    background-color: rgb(193, 255, 247);
    width: 80%;
    height:50px;
    
    
   
    
}

.container{
    margin-bottom: 80px;
    border-radius: 10px;
    
   
   
}
.selections{
    background-image: url('IMAGES/searchbarpic.jpg');
    background-size: cover;
    background-position:50% 50%;
    height:300px;
    width:95%;
   
  
   
}
.logodesign {
    max-width: 90%;
    height: auto;
    padding:0px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(143, 3, 3);
}
option{
    color:black;
    font-weight: bold;
}
.DISTRICT-HIGHLIGHT{
    box-shadow: 12px 12px 30px red;
    text-align: center;    
    padding: 10px 20px;
    border-radius: 10px;
    color:red;
}


.card{
    margin-right: 10px;
    box-shadow: 10px 10px 20px lightgray;
    margin-right: 10px;
   margin-bottom: 10px;
   border-radius: 12px;
    
}
.row{
    --bs-gutter-x: 1.5rem;
   
}
#A-positive{
    box-shadow:10px 10px 20px rgb(255, 98, 98);
}
#A-positive #group{
 background-color: darkred;
    color :white;
    padding: 10px 30px;
    border-radius: 10px;
}
.about{
    
    color:red;
    padding: 2px 4px;
    font-weight: bold;
   
}









#A-negative{
    box-shadow:10px 10px 20px rgb(12, 55, 1);
}
#A-negative #group{
    background-color: rgb(23, 49, 0);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }




   #B-positive{
    box-shadow:10px 10px 20px rgb(94, 3, 240);
}
#B-positive #group{
    background-color: rgb(1, 4, 29);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }





   #B-negative{
    box-shadow:10px 10px 20px rgb(145, 140, 6);
}
#B-negative #group{
    background-color: rgb(104, 89, 1);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }






   
   #O-positive{
    box-shadow:10px 10px 20px rgb(2, 94, 89);
}
#O-positive #group{
    background-color: rgb(1, 38, 39);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }





   #O-negative{
    box-shadow:10px 10px 20px rgb(44, 34, 80);
}
#O-negative #group{
    background-color: rgb(41, 15, 46);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }



    
   #AB-positive{
    box-shadow:10px 10px 20px rgb(3, 81, 199);
}
#AB-positive #group{
    background-color: rgb(0, 12, 187);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }





   #AB-negative{
    box-shadow:10px 10px 20px rgb(55, 1, 2);
}
#AB-negative #group{
    background-color: rgb(49, 16, 0);
       color :white;
       padding: 10px 30px;
       border-radius: 10px;
   }