.bg-light{
    background-image: linear-gradient(to left,rgb(133, 33, 16) 0%,rgb(255, 0, 0) 100%);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.optionbar{
    border:solid 3px rgb(237, 173, 173);
    border-radius: 10px;
    background-color: rgb(156, 214, 212);
    width: 50%;
    height:50px;
    position:absolute;
    top: 50%;
    left:50%;
   transform: translate(-50%,-50%);
    
}
#NAME{
    background-image: linear-gradient(white,gray);
    color: red;
    height: 100%;
    border-radius: 10px;
    padding: 2px 5px;
    margin:0px;
}
.container{
    margin-bottom: 80px;
    border-radius: 10px;
}
.selections{
    background-color: rgb(255, 187, 187);
    height:200px;
    position: relative;
   
}
