
.bg-light{
    background-image: linear-gradient(to left,rgb(133, 33, 16) 0%,rgb(255, 0, 0) 100%);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    color: white;
    padding: 0px;
   
}

.optionbar{
    border:solid 3px rgb(174, 96, 96);
    border-radius: 10px;
    background-color: rgb(193, 255, 247);
    width: 80%;
    height:50px;
   
    
}

.container{
    margin-bottom: 80px;
    border-radius: 10px;
    
   
   
}
.selections{
    background-image: url('images/wp4323467-blood-donation-wallpapers.jpg');
    background-size: cover;
    background-position:50% 50%;
    height:300px;
    width:95%;
   
  
   
}
.img-fluid {
    max-width: 90%;
    height: auto;
    padding:0px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(143, 3, 3);
}
option{
    color:black;
    font-weight: bold;
}

